html, body {
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  background-color: #030308;
  overflow: hidden;
}

#root {
  
  height: inherit;
  width: inherit;
  display: flex;
  flex-direction: column;
  
}

.text {
  font-family: "Gill Sans", "Gill Sans MT", sans-serif;
  font-size: 15px;
  color: #fff;
  font-style: normal;
  font-weight: bold;
  font-variant: small-caps;
  text-align: justify;
  letter-spacing: -0.7px;
  line-height: 17px;
  text-shadow: 0 0 5px grey;
  width: 600px;
  padding: 10px;
}

.title {
  font-family: "Gill Sans", "Gill Sans MT", sans-serif;
  font-size: 35px;
  color: #fff;
  width: inherit;
  font-style: normal;
  font-weight: bold;
  font-variant: small-caps;
  text-align: center;
  letter-spacing: 10px;
  line-height: 1;
  text-shadow: 0 0 5px grey;
  width: inherit;
  padding: 10px;
  margin: 10px;
}

button {
  box-shadow: 2px 2px 0px 0px #ffffff;
  background-color:#E50914;;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:14px;
  font-weight:bold;
  font-style:italic;
  padding:11px 29px;
  text-decoration:none;
  text-shadow:1px 2px 5px #b0a29d;
  transition: 0.3s;
  border: none;
  outline: none;
}

button:hover{
  box-shadow: none;
}
